<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сумки</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
        .image-thumbnail {
            object-fit: cover;
        }

        .card {
            transition: all 0.4s;
        }

        .card:hover {
            transform: scale(1.15);
            z-index: 1;
        }

        .list-group-item a{
            text-decoration: none;
            color: black;
        }
    </style>


</head>
<body class="m-5">
    

    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}">Все</a>
                        </li>
                        {% for category in categories %}
                        <li class="list-group-item">
                            <a href="{% url 'gallery' %}?category={{category.name}}">{{category.name}}</a>
                        </li>
                        {% endfor %}
                        
                        <a href="{% url 'add' %}" class="btn btn-block btn-dark btn-sm m-1">Добавить сумку</a>
                      
                    </ul>
                  </div>

            </div>
            <div class="col-md-9">
                <div class="row">
                {% for bag in handbag_list %}
                    <div class="col-md-4">
                        <div class="card my-2">
                            <img class="image-thumbnail" src={{bag.image1.url}} alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text text-center">{{bag.description}}</p>
                              <!-- <small>Категория: {{bag.category.name}}</small> -->
                            </div>
                            <a href="{% url 'photo' bag.id %}"class="stretched-link"></a>
                            <!-- <a href="{% url 'photo' bag.id %}"class="btn btn-outline-dark btn-sm m-1">Открыть</a> -->
                        </div>
                    </div>
                {% empty %}
                <h3>Здесь ничего нет... :(</h3>
                {% endfor %}    
                    

                </div>
            </div>
        </div>
    </div>
</body>
</html>