<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сумка</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <style>
        .c-item{
            height: 100%;
            width: 100%;
        }

        .c-img {
            height: 100%;
            object-fit: cover;
        }

        .outer-carousel {
            width: 50%;
            padding-left: 200px;
            padding-top: 40px;
        }

        .description {
            float: right;
            padding-top: 15%;
            padding-left: 375px;
            font-family: 'Roboto';
        }
    </style>


</head>

<!-- <body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">

                <a href="{% url 'gallery' %}"class="btn btn-dark my-3">Назад</a>

                <div style="height: 90vh" class="outer-carousel">

                    
                    <div id="myCarousel" class="carousel slide">
                        
                        <div class="carousel-inner">
                          <div class="carousel-item active c-item">
                            <img src="{{bag.image1.url}}" class="d-block w-100 c-img" alt="slide1">
                          </div>
                          <div class="carousel-item c-item">
                            <img src="{{bag.image2.url}}" class="d-block w-100 c-img" alt="slide2">
                          </div>
                          <div class="carousel-item c-item">
                            <img src="{{bag.image3.url}}" class="d-block w-100 c-img" alt="slide3">
                          </div>
                          <div class="carousel-item c-item">
                            <img src="{{bag.image4.url}}" class="d-block w-100 c-img" alt="slide4">
                          </div>
                          <div class="carousel-item c-item">
                            <img src="{{bag.image5.url}}" class="d-block w-100 c-img" alt="slide5">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    
                </div>

                
            </div>
        </div>
        <div class="description align-items-center">
            <p>{{bag.description}}</p>
            <p>{{bag.bio}}</p>
            <p>{{bag.price}}</p>
            <p>Телеграм <a href="https://t.me/ssmotritsskaya">@ssmotritsskaya</a></p>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html> -->
<body>
    <div class="container-fluid">
        <a href="{% url 'gallery' %}"class="btn btn-dark my-3">Назад</a>
        <div class="row">
            <div class="col-md-8 outer-carousel">
                <div id="myCarousel" class="carousel slide">
                            
                    <div class="carousel-inner">
                    <div class="carousel-item active c-item">
                        <img src="{{bag.image1.url}}" class="d-block w-100 c-img" alt="slide1">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{bag.image2.url}}" class="d-block w-100 c-img" alt="slide2">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{bag.image3.url}}" class="d-block w-100 c-img" alt="slide3">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{bag.image4.url}}" class="d-block w-100 c-img" alt="slide4">
                    </div>
                    <div class="carousel-item c-item">
                        <img src="{{bag.image5.url}}" class="d-block w-100 c-img" alt="slide5">
                    </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-md-4 description fs-1">
                <p>{{bag.description}}</p>
                <p>{{bag.bio}}</p>
                <p>{{bag.price}}</p>
                <a href="https://t.me/ssmotritsskaya"class="btn btn-dark my-3">Телеграм</a>
                
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> 
</body>
</html>